{% extends 'base.html' %}

{% block body %}
<h1 class="bg-primary">Bienvenido {{nombre}}</h1>

<main class="container">
    <h2>Gestionar productos</h2>
    
    <div class="card">
        <div class="card-header">
            <h4>Detalles del Producto</h4>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto[0] }}</td>  {# Usar índice 0 para el nombre del producto #}
                            <td>{{ producto[1] }}</td>  {# Usar índice 1 para el precio del producto #}
                            <td>{{ producto[2] }}</td>  {# Usar índice 2 para la descripción del producto #}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}
