/* Establece la fuente principal para el documento */
* {
    font-family: 'Nunito', sans-serif;
}

/* Establece márgenes y rellenos iniciales a 0 y garantiza que el contenido abarque toda la altura disponible */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado y el pie de página */
header, footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    background-color: #baab6a;
    padding: 60px; /* Aplicación del espacio alrededor del encabezado y el pie de página */
    margin-left: 250px; /* Margen izquierdo para ajustar el espacio del sidebar */
    font-size: 15px;
    height: 110px;
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Estilos para el pie de página */
footer {
    margin-top: auto;
}

/* Estilos para las imágenes dentro del pie de página */
footer img {
    margin-right: 20px;
}

/* Estilos para las imágenes dentro de las listas */
li img {
    margin-left: 18px;
    margin-right: 10px;
}

/* Estilos del sidebar */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #204b5e;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.4);
}

/* Estilos para las listas no ordenadas en el sidebar */
.sidebar ul {
    list-style-type: none;
    padding: 0;
}

/* Estilos para los elementos de la lista en el sidebar */
.sidebar li {
    padding: 10px;
}

/* Estilos para el contenido principal */
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 250px;
    padding: 20px;
}

/* Estilos para el cartel de bienvenida */
.cartel-bienvenido {
    border-radius: 5px;
    width: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    background-color: #fbea80;
}

/* Estilos para los enlaces del sidebar */
.opciones-sidebar li a {
    font-size: 20px;
    color: whitesmoke;
    text-align: start;
    text-decoration: none;
}

/* Estilos cuando se pasa el mouse sobre los elementos del sidebar */
.opciones-sidebar li:hover {
    background-color: #fbea80;
    transition: 0.75s;
    color: #204b5e;
    text-decoration: none;
}

/* Estilos para los enlaces del sidebar al pasar el mouse */
.opciones-sidebar li a:hover {
    color: #204b5e;
}

/* Línea divisora horizontal */
.linea-divisora {
    border-top: 3px solid #fbea80;
    width: 70%;
}

/* Estilos para los botones */
.boton {
    padding: 4px;
    font-size: 20px;
    color: #204b5e;
    background-color: #FFA500;
    border-radius: 4px;
}

/* Estilos al pasar el mouse sobre los botones */
.boton:hover {
    text-decoration: none;
    background-color: #baab6a;
    color: whitesmoke;
}

/* Estilos para los enlaces "Editar" */
.editar {
    border-radius: 2px;
    padding: 4px;
    margin-right: 2px;
    color: whitesmoke;
    font-size: 16px;
}

/* Estilos al pasar el mouse sobre los enlaces "Editar" */
.editar:hover {
    text-decoration: none;
    color: whitesmoke;
}

/* Estilos para los enlaces "Eliminar" */
.eliminar {
    border-radius: 2px;
    padding: 4px;
    background-color: red;
    color: whitesmoke;
    font-size: 16px;
}

/* Estilos al pasar el mouse sobre los enlaces "Eliminar" */
.eliminar:hover {
    background-color: rgb(169, 53, 53);
    text-decoration: none;
    color: whitesmoke;
}

/* Estilos para la página de edición de producto */
.editar-producto {
    min-height: 100vh;
    background-color: #fbea80;
}

/* Estilos para el botón "Agregar producto" */
.agregar-producto {
    margin: 20px;
}

